html {
    background-color: grey;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcContainer {
    border: 8px outset;
    border-radius: 20px;
    border-top-color: rgb(75, 75, 75);
    border-left-color: rgb(75, 75, 75);
    border-right-color: rgb(40, 40, 40);
    border-bottom-color: rgb(40, 40, 40);
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 12px;
    height: 579px;
    width: 342px;
}

#calcScreen {
    height: 150px;
    width: 318px;
    margin-bottom: 12px;
    background-color: rgb(140, 140, 140);
    color: rgb(49, 47, 45);
    border: 4px inset;
    border-radius: 8px;
    border-top-color: rgb(100, 100, 100);
    border-left-color: rgb(100, 100, 100);
    border-right-color: rgb(170, 170, 170);
    border-bottom-color: rgb(170, 170, 170);
    font-size: 64px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 12px;
}

#calcScreen :first-child {
    font-size: 32px;
    min-height: 37px;
}

.row {
    display: flex;
    gap: 6px;
}

.row > button {
    border: outset;
    border-radius: 4px;
    border-top-color: rgb(100, 100, 100);
    border-left-color: rgb(100, 100, 100);
    border-right-color: rgb(50, 50, 50);
    border-bottom-color: rgb(50, 50, 50);
}

.row > button.styleLight {
    border-top-color: rgb(200, 200, 200);
    border-left-color: rgb(200, 200, 200);
    border-right-color: rgb(150, 150, 150);
    border-bottom-color: rgb(150, 150, 150);
}

.row > button.styleOlivia {
    border-right-color: rgb(75, 75, 75);
    border-bottom-color: rgb(75, 75, 75);
}

.btnBig {
    height: 75px;
    width: 156px; 
}

.btnSmall {
    height: 75px;
    width: 75px;
}

.styleLight {
    background-color: rgb(217, 216, 208);
    color: rgb(49, 47, 45);
}

button.styleLight.active, button.styleLight:active{
    background-color: rgba(217, 216, 208, 0.5);
}

.styleOlivia {
    background-color: rgb(219, 172, 154);
    color: rgb(49, 47, 45);
}

button.styleOlivia.active, button.styleOlivia:active {
    background-color: rgba(219, 172, 154, 0.5);
}

.styleDark {
    background-color: rgb(49, 47, 45);
    color: rgb(219, 172, 154);
}

button.styleDark.active, button.styleDark:active {
    background-color: rgb(78, 75, 72);
}